<section class="sec-tpadding-2 section-light">
    <div class="container-fluid">
      <div class="row no-gutter">
      
     <div class="col-md-10 col-centered">  <div class="col-sm-12">
          <div class="sec-title-container text-center">
            <h5 class="font-weight-4 less-mar-1 line-height-4 text-primary opacity-9">OOur Team</h5>
            <h2 class="font-weight-6 less-mar-1 line-height-5">Meet Our experts</h2>
            <div class="ce-title-line"></div>
            <h6 class="ce-sub-text raleway opacity-7">Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula Etiam .</h6>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--end title--></div>
        
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="ce-feature-box-33 border-light margin-bottom">
           <div class="shape-1"><img src="assets/images/136.png" alt="" class="img-responsive"></div>
            <div class="shape-2"><img src="assets/images/137.png" alt="" class="img-responsive"></div>
             <div class="shape-4"><img src="assets/images/139.png" alt="" class="img-responsive"></div>
            <div class="img-box-main">
              <div class="img-box">
                <div class="overlay text-center">
                  <h5 class="less-mar-1 text-white">Benjamin</h5>
                  <p>Founder</p>
                  <p>Consectetuer adipiscing Praesent mattis commodo augue Aliquam.</p>
                  <br>
                  <ul class="sc-icons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
                <img src="http://via.placeholder.com/700x900" alt="" class="img-responsive"> </div>
            </div>
          </div>
        </div>
        <!-- end item -->
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="ce-feature-box-33 border-light margin-bottom">
           <div class="shape-1"><img src="assets/images/136.png" alt="" class="img-responsive"></div>
             <div class="shape-4"><img src="assets/images/139.png" alt="" class="img-responsive"></div>
            <div class="img-box-main">
              <div class="img-box">
                <div class="overlay text-center">
                  <h5 class="less-mar-1 text-white">Jennifer</h5>
                  <p>Support</p>
                  <p>Consectetuer adipiscing Praesent mattis commodo augue Aliquam.</p>
                  <br>
                  <ul class="sc-icons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
                <img src="http://via.placeholder.com/700x900" alt="" class="img-responsive"> </div>
            </div>
          </div>
        </div>
        <!-- end item -->
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="ce-feature-box-33 border-light margin-bottom">
           <div class="shape-1"><img src="assets/images/136.png" alt="" class="img-responsive"></div>
            <div class="shape-2"><img src="assets/images/137.png" alt="" class="img-responsive"></div>
             <div class="shape-4"><img src="assets/images/139.png" alt="" class="img-responsive"></div>
            <div class="img-box-main">
              <div class="img-box">
                <div class="overlay text-center">
                  <h5 class="less-mar-1 text-white">William</h5>
                  <p>Marketing</p>
                  <p>Consectetuer adipiscing Praesent mattis commodo augue Aliquam.</p>
                  <br>
                  <ul class="sc-icons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
                <img src="http://via.placeholder.com/700x900" alt="" class="img-responsive"> </div>
            </div>
          </div>
        </div>
        <!-- end item -->
        
         <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="ce-feature-box-33 border-light margin-bottom">
           <div class="shape-1"><img src="assets/images/136.png" alt="" class="img-responsive"></div>
             <div class="shape-4"><img src="assets/images/139.png" alt="" class="img-responsive"></div>
            <div class="img-box-main">
              <div class="img-box">
                <div class="overlay text-center">
                  <h5 class="less-mar-1 text-white">Charlotte</h5>
                  <p>Marketing</p>
                  <p>Consectetuer adipiscing Praesent mattis commodo augue Aliquam.</p>
                  <br>
                  <ul class="sc-icons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
                <img src="http://via.placeholder.com/700x900" alt="" class="img-responsive"> </div>
            </div>
          </div>
        </div>
        <!-- end item -->
        
       
      </div>
    </div>
</section>
<div class=" clearfix"></div>
