<section class="section-side-image section-light sec-padding clearfix">
    <div class="img-holder col-md-12 col-sm-12 pull-left">
      <div class="background-imgholder" style="background:url(http://via.placeholder.com/2000x1500);"><img class="nodisplay-image" src="http://via.placeholder.com/2000x1500" alt=""> </div>
    </div>
    <div class="container">
     <div class="row hl-more-top-padd">
      
        
        <div class="tab-navbar-main tabstyle-13">
          <ul class="responsive-tabs">
            <li class="active"> <a href="#example-1-tab-1" target="_self"> Monthly</a> </li>
            <li class=""> <a href="#example-1-tab-2" target="_self"> Yearly</a></li>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="col-md-12 nopadding"> </div>
          <div class="clearfix"></div>
          <div class="tab-content-holder-13">
            <div class="responsive-tabs-content">
              <div id="example-1-tab-1" class="responsive-tabs-panel" style="display: block;">
                <div class="responsive-tab-title ttitle dark"><p><strong> Monthly</strong></p></div>
                <div class="clearfix"></div>
                <br>
                <div class="col-md-12 col-centered text-center"> <br>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="ce-price-table-1 margin-bottom">
                      <div class="border-box">
                        <div class="inner-box text-center">
                          <h3 class="less-mar-1 font-weight-6 title montserrat">Free</h3>
                          <br>
                          <div class="price-circle">
                            <div class="price"><sup>$</sup>0</div>
                            <br>
                            <span>Lifetime</span></div>
                          <br>
                          <ul class="plan_features">
                            <li>One user</li>
                            <li>10 GB Disk Space</li>
                            <li class="highlight">Free Domain</li>
                          </ul>
                          <div class="clearfix"></div>
                          <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i> Order now</a></div>
                      </div>
                    </div>
                  </div>
                  <!--end item-->
                  
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="ce-price-table-1 active margin-bottom">
                      <div class="border-box">
                        <div class="inner-box text-center">
                          <h3 class="less-mar-1 font-weight-6 title">Standard</h3>
                          <br>
                          <div class="price-circle">
                            <div class="price"><sup>$</sup>49</div>
                            <br>
                            <span>/Month</span></div>
                          <br>
                          <ul class="plan_features">
                            <li> Up to 10 user</li>
                            <li>50 GB Disk Space</li>
                            <li class="highlight"> 2 Free Domain</li>
                          </ul>
                          <div class="clearfix"></div>
                          <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i> Order now</a></div>
                      </div>
                    </div>
                  </div>
                  <!--end item-->
                  
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="ce-price-table-1 margin-bottom">
                      <div class="border-box">
                        <div class="inner-box text-center">
                          <h3 class="less-mar-1 font-weight-6 title">Business</h3>
                          <br>
                          <div class="price-circle">
                            <div class="price"><sup>$</sup>79</div>
                            <br>
                            <span>/Month</span></div>
                          <br>
                          <ul class="plan_features">
                            <li> Unlimited user</li>
                            <li>250 GB Disk Space</li>
                            <li class="highlight"> Unlimited Domain</li>
                          </ul>
                          <div class="clearfix"></div>
                           <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i> Order now</a></div>
                      </div>
                    </div>
                  </div>
                  <!--end item--> 
                  
                </div>
                <!--end item--> 
                
              </div>
              <!--end panel 1-->
              
              <div id="example-1-tab-2" class="responsive-tabs-panel" style="display: none;">
                <div class="responsive-tab-title ttitle dark"><p><strong> Yearly</strong></p></div>
                <div class="clearfix"></div>
                <br>
                <div class="col-md-12 col-centered text-center"> <br>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="ce-price-table-1 margin-bottom">
                      <div class="border-box">
                        <div class="inner-box text-center">
                          <h3 class="less-mar-1 font-weight-6 title">Free</h3>
                          <br>
                          <div class="price-circle">
                            <div class="price"><sup>$</sup>0</div>
                            <br>
                            <span>Lifetime</span></div>
                          <br>
                          <ul class="plan_features">
                            <li>One user</li>
                            <li>10 GB Disk Space</li>
                            <li class="highlight">Free Domain</li>
                          </ul>
                          <div class="clearfix"></div>
                           <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i> Order now</a></div>
                      </div>
                    </div>
                  </div>
                  <!--end item-->
                  
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="ce-price-table-1 active margin-bottom">
                      <div class="border-box">
                        <div class="inner-box text-center">
                          <h3 class="less-mar-1 font-weight-6 title montserrat">Standard</h3>
                          <br>
                          <div class="price-circle">
                            <div class="price"><sup>$</sup>49</div>
                            <br>
                            <span>/Year</span></div>
                          <br>
                          <ul class="plan_features">
                            <li> Up to 10 user</li>
                            <li>50 GB Disk Space</li>
                            <li class="highlight"> 2 Free Domain</li>
                          </ul>
                          <div class="clearfix"></div>

                           <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i> Order now</a></div>
                      </div>
                    </div>
                  </div>
                  <!--end item-->
                  
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="ce-price-table-1 margin-bottom">
                      <div class="border-box">
                        <div class="inner-box text-center">
                          <h3 class="less-mar-1 font-weight-6 title montserrat">Business</h3>
                          <br>
                          <div class="price-circle">
                            <div class="price"><sup>$</sup>79</div>
                            <br>
                            <span>/Year</span></div>
                          <br>
                          <ul class="plan_features">
                            <li> Unlimited user</li>
                            <li>250 GB Disk Space</li>
                            <li class="highlight"> Unlimited Domain</li>
                          </ul>
                          <div class="clearfix"></div>
                           <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i> Order now</a></div>
                      </div>
                    </div>
                  </div>
                  <!--end item--> 
                  
                </div>
                <!--end item--> 
                
              </div>
              <!--end panel 2--> 
              
            </div>
          </div>
          <!--end column--> 
          
        </div>
      </div>
 
    </div>
</section>
<div class=" clearfix"></div>
