<section class="section-light">
    <div class="container">
      <div class="row">
       
       <div class="col-md-4">
          <div class="ce-feature-box-64 top-pos bmargin">
          <div class="b-line-2"></div>
          <div class="b-line"></div>
            <div class="icon-plain-medium center icon"><span class="pe-7s-note2"></span></div>
            <br>
            <h5 class="title font-weight-5">Necesitas un CRM?</h5>
            <p class="content">La Gestión de las Relaciones con Clientes es todo el proceso utilizado por startups, pequeñas y grandes empresas.</p>
            <div class="clearfix"></div>
            <br>
            <!-- <a class="read-more dark  font-weight-6 uppercase" href="#"> Más Información &nbsp; <i class="fa fa-long-arrow-right text-primary" aria-hidden="true"></i>
</a>  --> </div>
        </div>
        <!--end item-->
        
       <div class="col-md-4">
          <div class="ce-feature-box-64 top-pos bmargin">
          <div class="b-line-2"></div>
          <div class="b-line"></div>
            <div class="icon-plain-medium center icon"><span class="pe-7s-link"></span></div>
            <br>
            <h5 class="title font-weight-5">Necesitas una WebStore?</h5>
            <p class="content">Una tienda virtual es el tipo de plataforma digital que se utilizará para vender productos físicos mediante el comercio electrónico.</p>
            <div class="clearfix"></div>
            <br>
            <!-- <a class="read-more dark  font-weight-6 uppercase" href="#"> Más Información &nbsp; <i class="fa fa-long-arrow-right text-primary" aria-hidden="true"></i>
</a> --> </div>
        </div>
        <!--end item-->
        
        <div class="col-md-4">
          <div class="ce-feature-box-64 top-pos bmargin">
          <div class="b-line-2"></div>
          <div class="b-line"></div>
            <div class="icon-plain-medium center icon"><span class="pe-7s-gleam"></span></div>
            <br>
            <h5 class="title font-weight-5">Necesitas una App?</h5>
            <p>Se estima que para el año 2022 se realicen más de 258 mil millones de descargas a nivel mundial, quieres que tu negocio este ahí?.</p>
            <div class="clearfix"></div>
            <br>
           <!-- <a class="read-more dark  font-weight-6 uppercase" href="#"> Más Información &nbsp; <i class="fa fa-long-arrow-right text-primary" aria-hidden="true"></i>
</a> --> </div>
        </div>
        <!--end item-->
        
      </div>
    </div>
</section>

<div class="clearfix"></div>
