<section id="nosotros" class="sec-padding section-bgimg-9">
  <div class="container">
    <div class="row">
      <div class="col-md-5 margin-bottom">
        <br />
        <div class="col-sm-12 nopadding">
          <div class="sec-title-container less-padding-3 text-left">
            <h5
              class="font-weight-4 less-mar-1 line-height-4 ce-title-top-text"
            >
              Nuestros 4 pilares
            </h5>
            <h2 class="font-weight-6 less-mar-1 line-height-5">
              Por qué somo la mejor opción?
            </h2>
            <div class="ce-title-line align-left"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--end title-->

        <p>
          Hemos creado proyectos basados en nuestros 4 pilares, entregando con éxito cada producto solicitado.
        </p>

        <p>
          Tenemos la certeza que podemos ayudarte en tu idea.
        </p>

        <div class="clearfix"></div>
        <br />
        <br />
        <!-- <a class="btn btn-dark btn-round uppercase" href="#"
          ><i class="fa fa-play-circle" aria-hidden="true"></i> Contacto</a
        > -->
      </div>
      <!--end item-->

      <div class="col-md-7 padding-left-4">
        <div class="col-md-6">
          <div class="ce-feature-box-32 text-left">
            <div class="iconbox-small round left dark icon">
              <span class="icon-profile-female"></span>
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="title font-weight-5">Nuestr Equipo</h5>
            <p>
              Cada integrante de nuestro equipo son especialistas en su área, desde Servidores hasta Aplicaciones.
            </p>
          </div>
        </div>
        <!--end item-->

        <div class="col-md-6">
          <div class="ce-feature-box-32">
            <div class="iconbox-small round left dark icon">
              <span class="icon-bargraph"></span>
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="title font-weight-5">Metodología Ágil</h5>
            <p>
              Creamos un entorno de metodología ágil, ayudando a las entregas sean en tiempo y forma.
            </p>
          </div>
        </div>
        <!--end item-->

        <div class="clearfix"></div>
        <div class="col-divider-margin-4"></div>
        <div class="col-md-6">
          <div class="ce-feature-box-32 text-left">
            <div class="iconbox-small round left dark icon">
              <span class="icon-pencil"></span>
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="title font-weight-5">Contacto Latente</h5>
            <p>
              Contacto, presentación y avances, siempre de forma permanente en el proyecto.
            </p>
          </div>
        </div>
        <!--end item-->

        <div class="col-md-6">
          <div class="ce-feature-box-32">
            <div class="iconbox-small round left dark icon">
              <span class="icon-trophy"></span>
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="title font-weight-5">Calidad & Servicio</h5>
            <p>
              Nuestro equipo da lo mejor, siempre entregando la mejor calidad y el mejor servicio.
            </p>
          </div>
        </div>
        <!--end item-->
      </div>
      <!--end item-->
    </div>
  </div>
</section>

<div class="clearfix"></div>
