<div class="parallax vertical-align" data-parallax-bg-image="http://via.placeholder.com/2000x1300" data-parallax-speed="0.9" data-parallax-direction="down" style="position: relative; background: transparent; overflow: hidden; z-index: 1;"><div class="parallax-inner" style="position: absolute; background-image: url(&quot;http://via.placeholder.com/2000x1300&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; width: 1034px; height: 1265px; transform: translate3d(0px, -282.6px, 0px); z-index: -1;"></div>
      <div class="parallax-overlay bg-opacity-7">
        <div class="container sec-tpadding-2 sec-bpadding-2">
          <div class="row">
            <div class="ce-feature-box-35">
              <div class="col-sm-12">
                <div class="sec-title-container less-padding-3 text-center">
                  <h2 class="font-weight-6 less-mar-1 line-height-5 text-white">Subscribe to our Newsletter </h2>
                  <h6 class="text-white opacity-7">Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus</h6>
                </div>
              </div>
              <div class="clearfix"></div>
              <!--end title-->
              
              <div class="col-md-8 col-centered">
                <input class="newsletter" type="search" placeholder="Email Address">
                <input name="search" value="Subscribe" class="newsletter-btn" type="submit">
              </div>
              <!--end item--> 
              
            </div>
          </div>
        </div>
      </div>
</div>
<div class="clearfix"></div>
