<section id="productos" class="section-side-image section-dark sec-padding clearfix">
  <div class="img-holder col-md-12 col-sm-12 pull-left">
    <div
      class="background-imgholder"
      style="background:url(assets/images/fondo4.jpg);"
    >
      <img
        class="nodisplay-image"
        src="assets/images/fondo4.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="col-sm-12">
          <div class="sec-title-container less-padding-1 text-left">
            <h5
              class="font-weight-4 less-mar-1 line-height-4 text-white opacity-6"
            >
              Productos & Servicios
            </h5>
            <h2 class="font-weight-6 less-mar-1 line-height-5 text-white">
              Estos son algunos de los productos y servicios que ofrecemos
            </h2>
            <div class="ce-title-line align-left"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--end title-->

        <div class="col-md-6">
          <div class="ce-feature-box-38 text-left">
            <div class="icon-plain-small left dark icon">
              <span class="icon-layers"></span>
            </div>
            <div class=" text-box-right text-left">
              <h5 class="title font-weight-5">Back End</h5>
              <p>Creación de Servicios con las mejores tecnologías.</p>
            </div>
          </div>
        </div>
        <!--end item-->

        <div class="col-md-6">
          <div class="ce-feature-box-38 active text-left">
            <div class="icon-plain-small left dark icon">
              <span class="icon-strategy"></span>
            </div>
            <div class=" text-box-right text-left">
              <h5 class="title font-weight-5">CRM's</h5>
              <p>Creación de CRM's completos.</p>
            </div>
          </div>
        </div>
        <!--end item-->

        <div class="clearfix"></div>
        <div class="col-divider-margin-3"></div>

        <div class="col-md-6">
          <div class="ce-feature-box-38 text-left">
            <div class="icon-plain-small left dark icon">
              <span class="icon-pencil"></span>
            </div>
            <div class=" text-box-right text-left">
              <h5 class="title font-weight-5">App's</h5>
              <p>Tu negocio en una aplicación.</p>
            </div>
          </div>
        </div>
        <!--end item-->

        <div class="col-md-6">
          <div class="ce-feature-box-38 text-left">
            <div class="icon-plain-small left dark icon">
              <span class="icon-bike"></span>
            </div>
            <div class=" text-box-right text-left">
              <h5 class="title font-weight-5">GPS & Tracker</h5>
              <p>Creamos sistemas de rastreo y logística.</p>
            </div>
          </div>
        </div>
        <!--end item-->
      </div>
      <!--end item-->
    </div>
  </div>
</section>
<div class=" clearfix"></div>
