<div
  id="crecimiento"
  class="parallax vertical-align"
  data-parallax-bg-image="assets/images/fondo5.jpg"
  data-parallax-speed="0.9"
  data-parallax-direction="down"
  style="position: relative; background: transparent; overflow: hidden; z-index: 1;"
>
  <div
    class="parallax-inner"
    style='position: absolute; background-image: url("assets/images/fondo5.jpg"); background-position: center center; background-repeat: no-repeat; background-size: cover; width: 1034px; height: 1882.32px; transform: translate3d(0px, -501.21px, 0px); z-index: -1;'
  ></div>
  <div class="parallax-overlay bg-opacity-8">
    <div class="container sec-tpadding-2 sec-bpadding-2">
      <div class="row">
        <div class="col-sm-12">
          <div class="sec-title-container less-padding-1 text-left">
            <h5
              class="font-weight-4 less-mar-1 line-height-4 ce-title-top-text grey-1"
            >
              Nuestra mejor satisfacción
            </h5>
            <h2 class="font-weight-6 less-mar-1 line-height-5 text-white">
              Es poder entregar el proyecto deseado <br>
              por cada uno de nuestros clientes
            </h2>
            <div class="ce-title-line align-left"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--end title-->

        <div class="col-md-3 col-sm-6 col-xs-12 text-center margin-bottom">
          <div class="ce-feature-box-34 no-margin">
            <div class=" iconbox-medium icon round">
              <span class="pe-7s-disk"></span>
            </div>
            <div class="text-box">
              <h1
                class="text-white font-weight-4 less-mar-1 padding-top-1 title"
              >
                4
              </h1>
              <h5 class="text-white">Projectos</h5>
            </div>
          </div>
        </div>
        <!--end item-->

        <div class="col-md-3 col-sm-6 col-xs-12 text-center margin-bottom">
          <div class="ce-feature-box-34 no-margin">
            <div class=" iconbox-medium icon round">
              <span class="pe-7s-note2"></span>
            </div>
            <div class="text-box">
              <h1
                class="text-white font-weight-4 less-mar-1 padding-top-1 title"
              >
                4
              </h1>
              <h5 class="text-white">Completados</h5>
            </div>
          </div>
        </div>
        <!--end item-->

        <div class="col-md-3 col-sm-6 col-xs-12 text-center margin-bottom">
          <div class="ce-feature-box-34 no-margin">
            <div class=" iconbox-medium icon round">
              <span class="pe-7s-like2"></span>
            </div>
            <div class="text-box">
              <h1
                class="text-white font-weight-4 less-mar-1 padding-top-1 title"
              >
                4
              </h1>
              <h5 class="text-white">Clientes Felices</h5>
            </div>
          </div>
        </div>
        <!--end item-->

        <div class="col-md-3 col-sm-6 col-xs-12 text-center margin-bottom">
          <div class="ce-feature-box-34 no-margin">
            <div class=" iconbox-medium icon round">
              <span class="pe-7s-cup"></span>
            </div>
            <div class="text-box">
              <h1
                class="text-white font-weight-4 less-mar-1 padding-top-1 title"
              >
                4
              </h1>
              <h5 class="text-white">Reconocimientos</h5>
            </div>
          </div>
        </div>
        <!--end item-->
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
