<app-sliders></app-sliders>

<!-- 3 servicios -->
<app-secciona></app-secciona>

<!-- 4 Pilares -->
<app-seccionb></app-seccionb>

<!-- Productos & Servicios -->
<app-seccionc></app-seccionc>

<!--  -->
<!-- <app-secciond></app-secciond> -->

<!-- Cuantos Proyectos -->
<app-seccione></app-seccione>

<!-- <app-seccionf></app-seccionf> -->

<!-- Contacto -->
<app-seccionh></app-seccionh>

<!-- Blog -->
<!-- <app-seccioni></app-seccioni> -->

<!-- Footer -->
<app-seccionj></app-seccionj>

<div class="divider-line solid dark opacity-1"></div>

<!-- Derechos Reservados -->
<app-seccionk></app-seccionk>

<!-- Botón regresar al principio -->
<a routerLink="/inicio" class="scrollup" style="display: block;"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
