<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner" style="height: 100vh!important;">

      <div class="carousel-item active" style="height: 100vh!important;">

        <div id="crm"></div>

        <div id="services" class="carousel-caption d-none d-md-block text-left centrar" style="height: 100vh;">

            <h1 class="display-3 font-ping-estudio mb-1">Servicios</h1>

            <br>
            
            <h5>En <span class="font-ping-estudio">PingEstudio</span> creamos servicios a la medida de tu necesidad y con gran formato de calidad, buscando beneficiar a nuestros clientes finales el Costo <em>vs</em> Beneficio.</h5>

            <small>Todos nuestros servicios están diseñados para lograr el resultado que se necesita.</small>

            <div class="text-center mostrar-servicios mt-3">

                <ul class="list-inline">

                    <li class="list-inline-item p-2">
                        
                        <img src="assets/images/crm.png" alt="crm_pngestudio" class="mb-2" style="width: 80px!important;">

                        <br>
                        
                        CRM's

                        <br>
                        
                        <small>Una solución de gestión de las relaciones con clientes</small>
                    
                    </li>

                    <li class="list-inline-item p-2">
                        
                        <img src="assets/images/gps.png" alt="crm_pngestudio" class="mb-2" style="width: 80px!important;">

                        <br>
                        
                        GPS Tracker

                        <br>

                        <small>Rastreo de flotilla vehicular</small>
                    
                    </li>

                    <li class="list-inline-item p-2">
                        
                        <img src="assets/images/angular.png" alt="crm_pngestudio" class="w-25 mb-2" style="width: 100px!important;">

                        <br>
                        
                        Single Page

                        <br>

                        <small>Experiencia más fluida a los usuarios</small>
                    
                    </li>
    
                </ul>

                <button type="button" routerLink="/example" class="btn btn-danger" style="width: 300px!important;">¿Quieres una demo?</button>

            </div>

        </div>

      </div>

    </div>
    
</div>
